<h1>List of Users</h1>
<div class="table-responsive">
        <table class="table table-striped table-sm" id="mytable">
          <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
                 </tr>
          </thead>
          <tbody>
              {{#if user}}
            
            {{#each user}}
            <tr>
            <td>{{email}}</td>
           <td>{{password}}</td>
            </tr>         
            {{/each}}   
            {{else}}
            <tr>
              <td colspan="4">No users Found</td>
            </tr>
            {{/if}}
          </tbody>
        </table>